:root {
    --text-display: inline;
}

.title {
    font-size: 2.5em;
    color: black;
    font-weight: bolder;        
    padding: 1rem;
    margin: 1rem;
}

.tableOfContent {
    display: none;
}
.flexbox {
    display: flex;
    padding: 1rem;
    margin: 1rem;
    justify-content: space-evenly;
}

li {
    list-style: none;
    list-style-type: none;
}

@media screen and (min-width: 599px){
    .title {
        font-size: 3em;
    }

    .tableOfContent {
        font-size: 1.5em;
        display: inline;
        padding: 1rem;
        margin: 1rem;
        min-width: 15%;
    }
}