.title {
    font-size: 2.5em;
    color: black;
    font-weight: bolder;        
    padding: 1rem;
    margin: 1rem;
}

.tableOfContent {
    display: none;
}
.flexbox {
    display: flex;
    padding: 1rem;
    margin: 1rem;
    justify-content: flex-start;
}

li {
    list-style: none;
    list-style-type: none;
}

.text {
    display: none;
}

@media screen and (min-width: 599px){
    .title {
        font-size: 3em;
    }

    .tableOfContent {
        font-size: 1.5em;
        display: inline;
        padding: 1rem;
        margin: 1rem;
        min-width: 15%;
        align-self: flex-start
    }
    .contentWrapper {
        max-width: 50%;
    }
 }