.title {
    font-size: 2.5em;
    color: black;
    font-weight: bolder;        
    padding: 1rem;
    margin: 1rem;
}
.titleSmall {
    font-size: 1.5em;
    color: black;
    font-weight: bolder;        
    padding: 1rem;
    margin: 1rem;
}

input {
    border: 4px solid gray;
    border-radius: 0.5rem;
    background: lightgray;  
}
input:hover {
    cursor: pointer;
    background-color: gray;
}

.contentWrapper {
    width: 100%;
}

.tableOfContent {
    display: none;
}
.flexbox {
    display: flex;
    padding: 1rem;
    margin: 1rem;
    justify-content: flex-start;
    flex-direction: row;
}

li {
    list-style: none;
    list-style-type: none;
}

.text {
    display: none;
}

body {
    background-color: rgba(173, 216, 230, 0.452);    
}

.content {
        background-color: lightblue;
        border: 3px lightblue solid;
        border-radius: 1em;
        padding: 1em;
        margin: 1em;
        width: 80%;
    }

footer {
    background-color: lightblue;
    padding: 1em;
    margin: 1em;
    border: 5px lightblue solid;
    border-radius: 1em;
    text-align: center;
}

@media screen and (min-width: 599px){
    .title {
        font-size: 3em;
        margin-left: 3em;
        margin-top: 1,5em;
    }
    .titleSmall {
        font-size: 2em;
        margin-left: 4em;
        margin-top: 1,5em;
    }

    .tableOfContent {
        font-size: 1.5em;
        display: inline;
        padding: 1rem;
        margin: 2rem;
        min-width: 15%;
        align-self: flex-start;   
        background-color: lightblue;
        height: auto;
        border: 3px lightblue solid;
        border-radius: 1em;
    }
    .contentWrapper {
        padding: 1rem;
        width: 50%;
        border-left: 5px solid black; 
        height: auto;
        display: flex;
        flex-direction: column;
        min-height: 85vh;
    }
    .content {
        background-color: lightblue;
        border: 3px lightblue solid;
        border-radius: 1em;
        padding: 1em;
        margin: 1em;
        width: 100%;
    }
    footer {
        max-width: 70%;
        margin-left: 15%;
        text-align: center;
    }
 }