.title {
    font-size: 2.5em;
    color: black;
    font-weight: bolder;        
    padding: 1rem;
    margin: 1rem;
}
.titleSmall {
    font-size: 1.5em;
    color: black;
    font-weight: bolder;        
    padding: 1rem;
    margin: 1rem;
}
.introduction {
    font-size: 1.3em;
    padding: 1rem;
    margin: 1rem;
}

.download {
    padding: 1rem;
    margin: 1rem;
    width: 75%;
    height: 2em;
    border: 3px solid darkblue;
    background-color: darkblue;
    border-radius: 1rem;
    color: white;
}

input {
    border: 4px solid gray;
    border-radius: 0.5rem;
    background: lightgray;
    width: 7em;
    height: 3em;
}
input:hover {
    cursor: pointer;
    background-color: gray;
}

.contentWrapper {
    width: 100%;
}

.tableOfContent {
    display: none;
}
.flexbox {
    display: flex;
    padding: 1rem;
    margin: 1rem;
    justify-content: flex-start;
    flex-direction: row;
}

li {
    list-style: inside;
}

.text {
    display: none;
}
.text li {
    list-style: circle;
    list-style-type: circle;
}

body {
    background-color: rgba(173, 216, 230, 0.452);    
}

.content {
        background-color: lightblue;
        border: 3px lightblue solid;
        border-radius: 1em;
        padding: 1em;
        margin: 1em;
        width: 80%;
    }

.title-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
}
.main-title-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5em;
}

.title-row input {
    flex-shrink: 0;
}


footer {
    background-color: lightblue;
    padding: 1em;
    margin: 1em;
    border: 5px lightblue solid;
    border-radius: 1em;
    text-align: center;
}

@media screen and (min-width: 599px){
    .title {
        font-size: 3em;
        margin-left: 3em;
        margin-top: 1,5em;
    }
    .titleSmall {
        font-size: 2em;
        margin-left: 4em;
        margin-top: 1,5em;
    }

    .tableOfContent {
        font-size: 100%;
        display: block;
        position: sticky;
        top: 1rem;
        padding: 0.5rem;
        margin: 0.5rem;
        max-width: 30%;
        align-self: flex-start;   
        background-color: lightblue;
        height: auto;
        border: 3px lightblue solid;
        border-radius: 1em;
    }
    .tableOfContent ul {
        padding-left: 0.5rem;
        margin-left: 0;
    }
    .tableOfContent li {
        list-style-position: inside;
        padding-left: 0;
        margin-left: 0;
    }
    .contentWrapper {
        padding: 1rem;
        width: 50%;
        border-left: 5px solid black; 
        height: auto;
        display: flex;
        flex-direction: column;
        min-height: 85vh;
    }
    .content {
        background-color: lightblue;
        border: 3px lightblue solid;
        border-radius: 1em;
        padding: 1em;
        margin: 1em;
        width: 100%;
    }
    footer {
        max-width: 70%;
        margin-left: 15%;
        text-align: center;
    }
    input {    
        width: 7em;
        height: 3em;
    }
    .introduction{
        width: 50%;
    }
    .main-title-row {
        flex-direction: row;
    }
    .download {
        width: auto;
    }
 }